.header{
    margin-top: 25px;
   }
   .header img{
       width: 200px;
   }
   /* .login{
       float: left;
   } */
   .login span{
      color: black;
      margin-right: 25px;
   }
   .login button{
       background-color: red;
       border-radius: 40%;
       cursor: auto;
   }

 