.banner{
    padding-top: 150px;
    margin-top: 20px;
    
}
.banner input{
    border-radius: 10px;
    height: 40px;
    width: 300px;
}
.banner button{
    background-color: red;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 100px;
}